.projects-container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 16px;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
  .project-item-container {
    padding: 16px;
    background: $white;
    box-shadow: $default-box-shadow;
    border-radius: 4px;
  }
}

.project-item-container {
  .project-thumb {
    margin-bottom: 8px;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}
