// Main Colors
$primary-color: #0e17b1;
$light-primary-color: #8a92d4;

$accent-color: #049f1e;
$light-bg-color: #fafbfc;

// Text Color
$text-color: #49516f;
$light-text-color: #b6bbcb;
$error-color: #ec82a6;

// Border Color
$white: #fff;
$border-color: #d9d9d9;

// Box Shadow
$default-box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
